* {
    -webkit-transition-duration: .0s; /* Safari */
    transition-duration: .0s;
}
#app{
  position:absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
#nav{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 48px;
  z-index: 999;
}
#content-wrapper{
  position: absolute;
  top: 48px;
  left: 0px;
  width: 100%;
  height: calc(100% - 48px);
  overflow-y: hidden;
}
#content-container{
  margin: auto;
  height: 100%;
  overflow-y: hidden;
  /*background: rgba(255,255,0,.25);*/
  /*display: flex;
  flex-direction: column;
  */
}
#menu{

}
#widget-container{
  margin: 0px;
}
#right-side-column{
  /*flex: 3;
  margin: 0px;
  */
  /*width: calc((2/7)*100%);*/
  height: 100%;
  overflow-y: scroll;
}
#center-column{
  /*
  flex:5;
  margin: 0px;
  flex: 0 0 230px;
  overflow-y: :scroll;
  */
  /*width: calc((5/7)*100%);*/
  height: 100%;
  display: inline-block;
}
#center-column{
  height: 100%;
  display: inline-block;
  vertical-align: top;
  background: #eee;
  flex: 3;
  background: url("http://pre10.deviantart.net/3cd2/th/pre/i/2013/161/0/2/loz_background_by_lilienb-d68hwpn.jpg");
  background-size: contain;
}
#center-column > *{
}
#left-side-column{
  margin: 0px;
  padding: 0px;
  /*width: calc((4/4)*100% - 16px);*/
  display: inline-block;
  vertical-align: top;
  background: #eee;
}
.banner-background{
  background: url("https://s-media-cache-ak0.pinimg.com/236x/33/fb/82/33fb82a9c3d07646664541705fa00110.jpg");
  background-size: cover;
}
.group-link-container{
  display: block;
  min-height: 40px;
  color: #333;
  background: #eee;
}
#chat-feed{
    /*background: url("http://img04.deviantart.net/c436/i/2011/057/e/7/default_lion_background_by_tommasoturchi-d3ahhuh.jpg");*/
    min-height: calc(100%);
    display: flex;
    flex-direction: column;
    height:100%;
}
#chat-creation-form{
  flex:1;
}
.sectional-header{
  font-size:20px;
  padding: 8px;
  color: white;
}
.button{
  font-size: 12px;
  padding: 4px;
  border-radius:4px;
}
.button:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.primary-color{
  background: #7657b5;
}
.secondary-color{
  /*background: #3d3749;*/
  background: #333;
}
.primary-border{
  border: 1px solid #171719;
}
.secondary-border{
  border: 1px solid #171719;
}
.round-bottom{
  border-radius: 8px;
}
.round-top{
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.blog-making-menu{
  margin: 8px;
  flex: 1;
  width: calc((1/3)*100% - 16px);
}
.blog-making-preview{
  margin: 8px;
  flex: 2;
  background: blue;
  width: calc((2/3)*100% - 16px);
  vertical-align: top;
}
.flex{
  display: flex;
}
.horizontal-flex{
  flex-direction: row;
}

.vertical-flex{
  flex-direction: column;
}
.group-link{
  height: 148px;
  background: white;
  margin: 8px 0px;
  border: 1px solid #ccc;
}
.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nav-button{
  margin: 8px;
  display: inline-block;
  height: 32px;
}
.nav-form{
  margin: 8px;
  display: inline-block;
}
.search-bar{
  border: 0px solid blue;
  height: 32px;
  padding: 0px;
}
.nav-form > *{
  display: inline-block;
  height: 32px;
}
.banner{
  width: 100%;
  display: inline-block;
  background: yellow;
}
.h2{
  font-size: 24px;
}
.notsurewhattocallthis{
  background: rgba(255,255,255,.75);
  border: 1px solid #ccc;
}
.post:hover{
  background: #f0f0f0;
}
.post:active{
  background: #eee;
}
.form-input{
  display: block;
  width: calc(100% - 16px);
  height: 32px;
  line-height: 32px;
  font-size: 18px;
  border: 0px solid blue;
  margin: 8px;
}
.big-button{
  display: inline-block;
  width: 100%;
  height: 32px;
}
#user-credentials-form > div{
  background: #eee;
  margin: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
}
.dynamic-menu{
  display: flex;
  flex-direction: column;
  margin: 0px;
  max-width: 100%;
  overflow-x: scroll;
}
.dynamic-menu > *{
  background: rgba(255,255,255,1);
  border: 1px solid #ccc;
  flex:1;
  color: black;
}
.sub-header {
  font-size: 18px;
}
.promoted-post{
  background: white;
  margin: 8px;
  width:calc(100% - 16px);
  display:inline-block;
}
.side-widget{
  background: white;
  margin: 8px;
  width:calc(100% - 16px);
  display:inline-block;
  border-radius: 4px;
}
.side-widget:hover{
  border-radius: 0px;
}
.side-widget > *{
  margin: 4px;
}
.friend-link{
  background: white;
}
.addNote:hover{
  outline: 1px solid white;
}
.side-widget:hover{

}
.post-body{
  margin: 4px;
}
#chat-feild-input{
  display: flex;
  flex-direction: row;

}
@media screen and (min-width: 0in) and (max-width: 7in) {
  .friend-link{
    background: red;
  }
}
@media screen and (min-width: 7in) and (max-width: 11in) {
  .friend-link{
    background: green;
  }
}
@media screen and (min-width: 11in) and (max-width: 14in){
  .friend-link{
    background: blue;
  }
}
@media screen and (min-width: 14in){
  .friend-link{
    background: yellow;
  }
  /*.dynamic-menu{
    flex-direction: column;
  }
  #chat-feed{
    flex-direction:row;
  }*/
  .dynamic-menu{
    margin: 8px;
  }
}
